#book-container
  script(src="https://cdn.jsdelivr.net/gh/Qiu-Weidong/blog/resources/pdfjs-dist/build/pdf.js")
  div(class="book-viewer")
    div(class="read-wrapper")
      //- 首先引入 pdf.js和pdf_viewer.js
      canvas(id="book-canvas")
      div(class="mask")
        #prev(class="prev-page")
        #next(class="next-page")
      script(src="/js/book.js" url=page.url turn=page.turn)  
  
  //- != page.content