#article-container
  #book-container
    //- 首先引入 pdf.js和pdf_viewer.js
    canvas(id="book-canvas")
    script(src="https://cdn.jsdelivr.net/gh/Qiu-Weidong/rain/resources/pdfjs-dist/build/pdf.js")
    script(src="/js/book.js" url=page.url)  
  != page.content